@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #101010;
    --color-white: #f0f0f0;
    --color-gray: #5c5c5c;
    --color-destaque: #1d2adf;

    --font-title-desktop: 3rem;
    --font-span-desktop: 1.5rem;
    --font-text-desktop: 1.2rem;

    --font-title-mobile: 2rem;
    --font-span-mobile: 1.2rem;
    --font-text-mobile: 1rem;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    box-sizing: border-box;
    min-height: 100vh;
}

.card {
    background-color: var(--color-white);
    padding: 1rem;
}

/************** WIDGET 1*/
.top {
    width: 100%;
    min-width: 350px;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/************** Úsuario*/
.user {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem; 
}

.content-user {
    width: 100%;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-user img {
    width: 120px;
    border-radius: 10px;
}

.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-user h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-black);
}

.info-user span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-destaque);
}

.info-user p {
    margin-top: auto; 
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--color-black);
}

/************** Projeto*/
.projeto {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-projeto {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-projeto {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-destaque);
}

.img-projeto {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-projeto img {
    width: 280px;
}

.btn-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.btn {
    background-color: var(--color-destaque);
    color: var(--color-white);
    font-weight: 600;
    padding: .7rem 1.3rem;
    border-radius: 10px;
    text-decoration: none;
}

/************** WIDGET 2*/
.center {
    min-width: 350px;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/************** Redes sociais*/
.redes-sociais {
    background-color: transparent;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0!important;
    gap: 1rem;
}

.box-social {
    background-color: var(--color-destaque);
    height: 90px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-social i {
    font-size: 2.5rem;
    color: var(--color-white);
}

/************** Skills*/
.skills {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-skills {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-skills {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-destaque);
}

.skills-icons {
    width: 100%;
    max-width: 90%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-icons i {
    color: var(--color-black);
    font-size: 1.5rem;
    transition: color 0.3s;
}

.skills-icons i:hover {
    cursor: pointer;
}

/* Cores específicas para cada ícone das skills*/
.skills-icons .fa-html5:hover {
    color: #e34f26;
}

.skills-icons .fa-css3-alt:hover {
    color: #1572b6;
}

.skills-icons .fa-js:hover {
    color: #f7df1e;
}

.skills-icons .fa-bootstrap:hover {
    color: #7952b3;
}

.skills-icons .fa-react:hover {
    color: #61dafb;
}

.skills-icons .fa-node:hover {
    color: #339933;
}

.skills-icons .fa-php:hover {
    color: #777bb4;
}

.skills-icons .fa-github:hover {
    color: #181717;
}

/************** WIDGET 3*/
.bottom {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/************** Serviços*/
.servicos {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-servicos {
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.text-servicos h1 {
    font-size: var(--font-title-mobile);
    color: var(--color-black);
}

.text-servicos span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-gray);
}

.servicos-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.item-servico {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.item-servico i {
    font-size: 3rem;
    color: var(--color-destaque);
}

.item-servico span {
    font-size: 1.2rem;
    color: var(--color-black);
}

/************** Contato*/
.contato {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-destaque);
    padding: 1rem; /* Certificando que a seção de contato tenha padding */
}

.content-contato {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.text-contato h1 {
    font-size: var(--font-title-mobile);
    color: var(--color-white);
}

.lista-contato {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lista-contato a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.text-contato span {
    font-size: var(--font-text-mobile);
    font-weight: 400;
    color: var(--color-white);
}

.btn-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn2 {
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 600;
    padding: .7rem 1.3rem;
    border-radius: 10px;
    text-decoration: none;
}
